@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 250;
  --foreground: 17 24 39;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
}
